<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <title>Digital Marketing Sales Tracking Database</title>
</head>
<body>
    
    {{{body}}}

</body>

<footer>
    <p><cite>&copy; 2023 Pedram Jarahzadeh & Eddy Song</cite></p>
</footer>

</html>