<!-- index.hbs -->
<h1>Digital Marketing Sales Tracking Database</h1>
<div class="topnav">
<a class="active" href="/">Home</a>
<a href="customers">Customers</a>
<a href="salesreps">Sales Reps</a>
<a href="terms">Terms</a>
<a href="products">Products</a>
<a href="salesinvoices">Sales Invoices </a>
<a href="salesdetails">Sales Invoice Details</a>
</div>
<p>
    Our company sells Digital Marketing Products. This database driven website 
    will record Sales Invoices of Digital Marketing Products to Customers across 
    Sales Representatives <br />  to optimize our company (i.e., best selling digital 
    marketing product, highest performing sales rep, customer with the highest sales 
    revenue, most popular sales terms, etc.). 
</p>
<ul style="list-style-type:disc;">
    <li>Customers - Businesses that purchase digital marketing products.</li>
    <li>Sales Reps - Company employees who are selling digital marketing products</li>
    <li>Terms - The various terms we offer</li>
    <li>Products - The digital marketing products that include websites, automated email campaigns, automated social media 
        campaigns, and search engine marketing subscriptions.</li>
    <li>Sales Invoices - The sales of the digital marketing products to the customers.</li>
    <li>Sales Invoice Detials - Shows the interesection table of the Sales Invoices and Products</li>
</ul> 